div.title_div {
  text-align: center;
}

div.subtitle_div {
	text-align: center;
	margin: 30 0 30 0;
}

div.links_div {
	text-align: center;
	margin: 30 0 30 0;
}

div.previous_div {
}

div.url_div {
}

div.next_div {
}

div.slideShowControl_div {
}

div.image_div {
  text-align: center;
}

td {
	border: 1px;
	padding: 0 5 0 5;
}